body {
	font-family: Helvetica, sans-serif;
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
.onecolliqctr #container {
	width: 80%; 
	background: #FFFFFF;
	margin: 10px auto; 
	border: 1px solid #000000;
	text-align: center; 
	height: 500px;
}
.onecolliqctr #maincontent {
	padding: 0 20px; 
	text-align: left;
	float: left;
}
.subtitle {
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
}
#left { 
	float: left;
	margin: 0 40px 0 0;
}
#right { float: right; }

ul li {
	list-style-type:none;
	margin: 0 0 10px 0;
}
